# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# npm package lock
package-lock.json
yarn.lock

# Test coverage reports
coverage/

# Misc
*.tgz
*.gz
*.zip
